@model DuAnLTW.Models.OrderPro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div style="margin: 10px auto; width: 70%;">
    <h2 style="text-align: center">CHI TIẾT ĐƠN HÀNG</h2>
    <div>
        <h4>THÔNG TIN CHI TIẾT</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                NGÀY ĐẶT HÀNG
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOrder)
            </dd>

            <dt>
                ĐỊA CHỈ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AddressDeliverry)
            </dd>

            <dt>
                TÊN KHÁCH HÀNG
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.NameCus)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("SỬA", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" }) |
        @Html.ActionLink("TRỞ LẠI", "Index")
    </p>
</div>
