@model DuAnLTW.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div style="margin: 10px auto; width: 70%;">
    <h2 style="text-align: center">CHI TIẾT SẢN PHẨM</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                TÊN SẢN PHẨM:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NamePro)
            </dd>
            <dt>
                MÔ TẢ:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DecriptionPro)
            </dd>
            <dt>
                GIÁ:
            </dt>
            <p class="card-text" style="color:red"><b>@Model.Price.ToString("#,##0").Replace(',', '.') VNĐ</b></p>
            <dt>
                HÌNH MINH HỌA:
            </dt>
            <dd>
                <img src="~/Images/@Model.ImagePro" width="200"/>
            </dd>
            <dt>
                NHÓM SẢN PHẨM:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category1.NameCate)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.ProductID }, new
        {
            @class
       = "btn btn-success"
        }) |
        @Html.ActionLink("TRỞ LẠI", "Index")
    </p>
</div>