@model DuAnLTW.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div style="margin: 10px auto; width: 70%;">
    <h2 style="text-align: center">CHI TIẾT KHÁCH HÀNG</h2>
    <div>
        <h4>THÔNG TIN CHI TIẾT</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                TÊN KHÁCH HÀNG
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NameCus)
            </dd>

            <dt>
                ĐIỆN THOẠI
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneCus)
            </dd>

            <dt>
                EMAIL
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailCus)
            </dd>

            <dt>
                TÊN ĐĂNG NHẬP
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                MẬT KHẨU
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("SỬA", "Edit", new { id = Model.IDCus }, new {@class="btn btn-success"}) |
        @Html.ActionLink("TRỞ LẠI", "Index")
    </p>
</div>
