@model IEnumerable<DuAnLTW.Models.AdminUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordUser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
