@model DuAnLTW.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div style="margin: 10px auto; width: 70%;">
    <h3 style="text-align:center">
        BẠN CÓ CHẮC CHẮN MUỐN XÓA NHÓM SẢN PHẨM NÀY?
    </h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                MÃ NHÓM SẢN PHẨM:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IDCate)
            </dd>
            <dt>
                TÊN NHÓM SẢN PHẨM:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NameCate)
            </dd>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <div class="form-actions no-color">
                <input type="submit" value="XÓA" class="btn btn-danger" /> |
                @Html.ActionLink("TRỞ LẠI", "Index")
            </div>
        }
    </div>
</div>